/*   some body settings just to be sure container won't 
     invade all the screen' place  */

body {
        min-height: 2400px;
        background-color: rgb(241, 241, 241);    
    overflow-x: hidden;
}

/*  some settings for visual aesthetics 
    (should be disabled after all)      */

section,
div,
.foot,
input,
button {
    border: 1px solid red;
}

main {
    margin-bottom: 72px;
}


/*     THIS IS HEADEEEEEEEEEEEEER!!!     */

header {
    min-height: 120px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

#logo:hover {
    transform: scale(1.25);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav>span {
    padding-left: 40px;
padding-right: 40px;
}

nav>span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

nav>span:active {
    color: grey;
}

.navpics {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;

}

.navpics>object {
    padding: 12px;
}



/*      THIS IS HEROOOOOOOOOOOO!!!      */

.hero {
background-color: #F9B300; 
min-height: 468px;
}

.hero-pictures {
    width: 20vh;
    display: flex;
}

.hero-pictures > #hero-beans {
    position: absolute;
    display: flex;
    width: 45%;
    min-height: 60%;
    transform: rotate(18deg);
    left: 45em;
}

.hero-pictures > #hero-coffee {
    position: absolute;
    left: 50em;
    bottom: 12em;
}

.main-menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
    padding-left: 68px;
    padding-top: 24px;
}

.coffee {
    display: flex;
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    padding-top: 78px;
    padding-left: 68px;
}

.coffee> h1 {
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wavyHead {
    height: 190px;
    width: 100%;
    position: absolute;
}


/*       THIS IS CONTAINER FOR SELECTION    !!!    */

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 90%;
    height: 90vh;
    padding: 10px;
}

.breed {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70vh;
    padding: 10px;
}

.degree-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    height: 90%;
}

.ginger-line-v {
    overflow: hidden;
    width: 5%;
}

.ginger-line-v > img {
    height: 100%;
}

.roast-degree {
    font-size: 28px;
    font-weight: bolder;
    padding: 0 0 0 48px;
    width: 100%;
}

.roast-degree > div {
    height: 16%;
}

.preparation {
    height: 30vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.degree {
    background-color: #fff;
    width: 28%;
    border-radius: 10px;
}

.geography {
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
}

.geography-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    height: 90%;
    padding-left: 14px;
    padding-right: 14px;
}

.ginger-line-h {
    height: 15%;
}

.ginger-line-h > img {
    width: 100%;
}

.geography-countries {
    height: 95%;
}

.countries-container {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100%;
}

.countries-container > div {
    width: 25%;
}

.countries-container > div > span {
    font-weight: bolder;
    font-size: 24px;
}

#sour > span, #prep-way > span {
    font-weight: bolder;
    font-size: 24px;
}

#sour, #prep-way {
    height: 43%;
}

.geo, .sour, .prep-way, .elite, .special {
    font-weight: 500;
}

.ways {
    display: flex;
    height: 100%;
}

.ways > div {
    display: flex;
    flex-wrap: nowrap;
    width: 15%;
    padding: 8px;
}

.ways > div > div {
    width: 100%;
    background-color: #fff;
}

.turka-pic, .french-pic, .moka-pic, .espresso-pic, 
.voronka-pic, .aero-pic, .cup-pic, .automate-pic {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.upper-info {
    text-align: center;
    font-weight: 500;
    height: 20%;
}

.lower-pic {
    align-self: center;
    height: 80%;
    width: 80%;
}

.lower-pic > img {
    padding-left: 15px;
    padding-top: 15px;
}

#sort {
    margin: 48px 0 24px 96px;
    font-weight: bolder;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*   THIS IS COFFEEEEEEEEEEEE!!!   */

.coffee-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: auto;
    width: 90%; 
    height: 80vh;
    justify-content: center;
    margin-bottom: 25px;
}

.coffee-container > .item {
    display: inline-flex;
    width: 27%;
}

.section-coffee-container {
    margin-left: 20px;
    margin-right: 20px;
}

.item-container {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.weight, .coffee-pack, .price {
    width: 100%;
}

.weight {
    display: flex;
    height: 10%;
}

.new {
    width: 50%;
}

.weight-popular, .new-part {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    padding-left: 5px;
    font-weight: bolder;
    color: #F9B300;
}

.weight-select {
    margin-top: 3px;
    width: 50%;
    display: flex;
    justify-content: center;
}

select {
    background-color:#fee5a6;
    border: 2px solid #F9B300;
    font-weight: bolder;
    height: 50%;
    width: 80%;
border-radius: 3px;
}

select > option {  
    text-align: center;
}

.coffee-pack {
    display: flex;
    flex-direction: row;
    height: 55%;
}

.pack, .about-pack {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.price {
    height: 10%;
}

.stars, .feedback, .pack-seed {
    padding-bottom: 5px;
}

.pack-seed {
    padding-top: 10px;
}

#colombia {
    font-weight: 800;
    font-size: 24px;
}

.price-buy > p {
    font-weight: 500;
} 

.buttonbuy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.buttonbuy > button {
    width: 40%;
    height: 36px;
    border-radius: 5px;
    background-color: #F9B300;
    color: #FFFFFF;
    font-weight: bolder;
}

#price {
    width: 30%;
    font-size: 24px;
    font-weight: 800;
}

.show-else-block {
    background-color: #fff;
    border: 1px solid lightgray;
    margin-left: 72px;
    margin-right: 48px;
    border-radius: 3px;
}

.show-else-block > p {
    text-align: center;
}

.show-else-block:hover {
    cursor: pointer;
}

.show-else-block:active {
    background-color: rgb(159, 159, 159);
}



/*   THIS IS FOOTEEEEEEEEEEEEEEEEEEEEER!!!     */

.foot {
    overflow: hidden;
    background-color: #fff;
    min-height: 640px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grey-line {
    position: absolute;
    overflow: hidden;
}

#ginger-line {
    padding-top: 18px;
}

.news {
    display: flex;
    margin-top: 0px;
}

.mailing {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 54px;
    margin-left: 54px;
}

.mailing > #st-p {
font-size: 36px;
font-weight: 900;
}

.mailing > #nd-p {
    font-size: 18px;
    font-weight:400;
}

.email {
    height: 48px;
    padding: 7px;
}

.email-input {
    width: 75%;
    height: 90%;
    border-radius: 25px;
    padding-left: 36px;
}

.subs-button {
    width: 20%;
    height: 90%;
    border-radius: 25px;
}

.email > button {
    background-color: #F9B300;
    border: none;
    color:#fff;
}

input {
    background-color: lightgray;
    border: none;
}

.agreement > span {
    color: #F9B300;
}

.agreement {
    font-size: 0.8em;
}

.footer-beans {
    width: 55%;
    height: 60vh;
    position: absolute;
    transform: rotate(15deg);
    display: flex;
}

.footer-coffee-cup {
    position: absolute;
    height: 50vh;
    width: 10vw;
    transform: rotate(345deg);
}

footer {
    display: flex;
    background-color: #fff;
    min-height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin: 45px;
}

.footer-nav {
    margin-left: 50em;
}

.footer-nav > span {
    font-weight: 600;
    padding-left: 35px;
}