body {
    overflow-x: hidden;
}

/* section,
div {
    border: 1px solid red;
} */

header {
    min-height: 120px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

#logo:hover {
    transform: scale(1.25);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav>span {
    padding-left: 40px;
padding-right: 40px;
}

nav>span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

nav>span:active {
    color: grey;
}

.navpics {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;

}

.navpics>object {
    padding: 12px;
}

.hero {
background-color: #F9B300; 
min-height: 468px;
}

.hero-pictures {
    width: 20vh;
    display: flex;
}

.hero-pictures > #hero-beans {
    position: absolute;
    display: flex;
    width: 45%;
    min-height: 60%;
    transform: rotate(18deg);
    left: 45em;
}

.hero-pictures > #hero-coffee {
    position: absolute;
    left: 50em;
    bottom: 12em;
}

.main-menu {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
    padding-left: 68px;
    padding-top: 24px;
}

.coffee {
    display: flex;
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    padding-top: 78px;
    padding-left: 68px;
}

.coffee> h1 {
    font-size: 56px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 2400px;
    background-color: rgb(241, 241, 241);
}

#wavyHead {
    height: 164px;
    width: 100%;
    position: absolute;
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 90%;
    height: 90vh;
    padding: 10px;
}

.breed {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70vh;
    padding: 10px;
}

.degree-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    height: 90%;
}

.ginger-line-v {
    overflow: hidden;
    width: 5%;
}

.ginger-line-v > img {
    height: 100%;
}

.roast-degree {
    font-size: 28px;
    font-weight: bolder;
    padding: 0 0 0 48px;
    width: 100%;
}

.roast-degree > div {
    height: 16%;
}

.preparation {
    height: 30vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.degree {
    background-color: #fff;
    width: 28%;
    border-radius: 10px;
}

.geography {
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
}

.geography-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    height: 90%;
}

.ginger-line-h {
    height: 15%;
}

.ginger-line-h > img {
    width: 100%;
}

.geography-countries {
    height: 95%;
}

.countries-container {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100%;
}

.countries-container > div {
    overflow: hidden;
    width: 25%;
}

.countries-container > div > span {
    font-weight: bolder;
    font-size: 24px;
}

#sour > span, #prep-way > span {
    font-weight: bolder;
    font-size: 24px;
}

#sour, #prep-way {
    height: 47%;
}

.geo, .sour, .prep-way, .elite, .special {
    font-weight: 500;
}

.ways {
    display: flex;
    height: 100%;
}

.ways > div {
    display: flex;
    flex-wrap: nowrap;
    width: 15%;
    padding: 8px;
}

.ways > div > div {
    width: 100%;
    background-color: #fff;
}

.turka-pic, .french-pic, .moka-pic, .espresso-pic, 
.voronka-pic, .aero-pic, .cup-pic, .automate-pic {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.upper-info {
    text-align: center;
    font-weight: 500;
    height: 20%;
}

.lower-pic {
    align-self: center;
    height: 80%;
    width: 80%;
}

.lower-pic > img {
    padding-left: 15px;
    padding-top: 15px;
}

#sort {
    margin: 48px 0 24px 96px;
    font-weight: bolder;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coffee-to-buy {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coffees {
    border: 1px solid lightgray;
    background-color: #fff;
}

.button > select {
    background-color: #ffeab5;
    border: 1px solid  #F9B300;
}

.coffees > p {
    color: #F9B300;
}

.stars, .feedback, .seeds, .little-circles {
    display: flex;
}

#sale {
    color: lightgray;
    font-size: 0.9em;
    text-decoration: line-through;
}

#colombia {
    color: black;
    font-size: larger;
    font-weight: 600;
}

#price {
    color: black;
    font-size: 1.5em;
    font-weight: 800;
}

.pictureblock {
    display: inline-flex;
}

.buttonbuy > button {
    color:#FFFFFF;
    background-color: #F9B300;
    border: none;
}

.show-else-block {
    background-color: #fff;
    border: 1px solid lightgray;
    margin: 0 78px 95px 78px;
}

.show-else-block > p {
    text-align: center;
}

.foot {
    background-color: #fff;
    min-height: 640px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grey-line {
    position: absolute;
}

#ginger-line {
    padding-top: 18px;
}

.foot > #beans, #coffee {
    left: 70em;
}

.news {
    margin-top: 0px;
    margin-left: 45px;
}

.news > #st-p {
font-size: 36px;
font-weight: 800;
}

.news > #nd-p {
    font-size: 24px;
    font-weight:400;
}

.email {
    margin-left: 45px;
}

.email > button {
    background-color: #F9B300;
    border: none;
    color:#fff;
    width: 124px;
}

input {
    background-color: lightgray;
    border: none;
}

.agreement > span {
    color: #F9B300;
}

.agreement {
    font-size: 0.8em;
}

footer {
    display: flex;
    background-color: #fff;
    min-height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin: 45px;
}

.footer-nav {
    margin-left: 50em;
}

.footer-nav > span {
    padding-left: 35px;
}